@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
    color: white;
}

main{
    margin: 0;
    position: absolute;
    top: 35%;
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
}

nav{
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

a:hover{
    font-size: 2.25rem;
}

label{
    font-size: 2rem;
}